numpy==1.24.3
pandas==2.0.1
pandas-gbq==0.19.2
requests==2.31.0
selenium==4.11.2
google-auth==2.19.0
google-cloud-bigquery==3.10.0
geopy==2.3.0
openpyxl==3.1.2
streamlit==1.26.0
altair==5.1.1
cryptography==40.0.2
webdriver-manager==4.0.0
# selenium-stealth==1.0.6
undetected-chromedriver==3.5.3
seleniumbase==4.18.7